.error {
  min-height: calc(100vh - var( --height-header));
}

.error h1 {
  font-size: var(--size-title);
}
.error h2 {
  font-size: var(--size-subtitle);
  font-weight: 400;
}

.error .container {
  padding-top: 150px;
  text-align: center;
}

.error .code {
  margin-top: 100px
}