.flight {
  min-height: calc(100vh - var( --height-header));
}

.flight .grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template:
    'name name route route route'
    'live live live live departure'
    'image image image image arrival';
  padding: 10px;
}

.flight .title {
  background-color: var(--accent-color);
  text-transform: uppercase;
  padding: 6px 20px;
  border-radius: var(--btn-border-radius);
  font-weight: 600;
}

.flight .live .title {
  background-color: var(--primary-color);
  text-transform: uppercase;
  padding: 6px 20px;
  border-radius: var(--btn-border-radius);
  color: #fff
}

.flight .container {
  padding: 6px 20px;
}

.flight .airport {
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
}

.flight .key {
  background-color: var(--light-color);
  padding: 7px 14px;
  border-radius: 20px 0 0 20px;
  border: solid 2px var(--light-color);
}

.flight .value {
  padding: 7px 14px;
  border-radius: 0 20px 20px 0;
  border: solid 2px var(--light-color);
}

.flight .item {
  margin: 10px 0 20px;
}

.flight table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  background-color: var(--light-gray);
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.flight table td {
  border: solid 1px #000;
  padding: 10px;
}


/* NAME */

.flight .name {
  background-color: var(--light-gray);
  grid-area: name;
  border-radius: 100px;
  min-height: 100px;
  padding: 40px 0;
  text-align: center;
}

.flight .name .icao {
  font-size: 48px;
}

.flight .name .iata {
  font-size: 40px;
}

/* ROUTE */

.flight .route {
  grid-area: route;
}

.flight .route .progress-bar {
  position: relative;
  margin: 20px 0;
}

.flight .route .total {
  background-color: var(--accent-color);
}

.flight .route .middle {
  background-color: var(--primary-color);
  height: 6px;
  width: 50%;
}

.flight .route .airplane {
  width: 32px;
  position: absolute;
  left: calc(50% - 16px);
  top: -10px;
}

.flight .route .from {
  text-align: left;
}

.flight .route .to {
  text-align: right;
}

.flight .route p {
  margin: 0;
}


.flight .route p.code {
  font-size: 32px;
}



/* LIVE */

.flight .live {
  grid-area: live;
}

.flight .live .status {
  text-transform: capitalize;
  margin: 10px 0;  
}

.flight .circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
}

.blue {
  background: #37c3be;
  box-shadow: 0 0 5px #37c3be;
}

.orange {
  background: #c36f37;
  box-shadow: 0 0 5px #c36f37;
}

.red {
  background: #c33737;
  box-shadow: 0 0 5px #c33737;
}

.green {
  background: #39c337;
  box-shadow: 0 0 5px #39c337;
}

.black {
  background: #000;
  box-shadow: 0 0 5px #000;
}

.yellow {
  background: #dece21;
  box-shadow: 0 0 5px #dece21;
}


/* DEPARTURE */

.flight .departure {
  grid-area: departure;
}


/* IMAGE */

.flight .image {
  grid-area: image;
  min-height: 200px;
  background-image: url("../images/ala.jpg");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

/* ARRIVAL */

.flight .arrival {
  grid-area: arrival;

}