.footer {
	background-color: var(--primary-color);
	color: #fff;
	font-weight: 500;
}

.footer .footer-container {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	height: 50px;
}

.footer .item {
	align-self: center;
	text-align: center;
}

.footer .item a {
	height: 20px;
	color: #fff;
	text-decoration: underline;
}

