.footer {
	background-color: #000;
	color: #fff;
/* 	font-weight: 700; */
}

.footer .footer-container {
	display: flex;
	justify-content: space-between;
	align-content: center;
	padding: 10px 0;
	height: 50px;
}

.footer .item {
	align-self: center;
}

